@model IEnumerable<MyShop.Core.Models.StoreType>

@{
    ViewBag.Title = "Index";
}

<div id="bucket">
    <h2 id="guideBucket">Store Type</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","StoreType", new {@id = item.Id })" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> </a>
                        <a href="@Url.Action("Delete","StoreType", new {@id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> </a>

                    </td>
                </tr>
            }

        </table>
    </div>
</div>