@model MyShop.Core.Models.Shop

@{
    ViewBag.Title = "Delete";
}

<div id="bucket">
    <h2 id="guideBucket">Delete</h2>

    <h3>Are you sure you want to delete this?</h3>

    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.StoreTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image1)
        </dt>

        <dd>
            <img class="img-thumbnail" style="width:50px; height:50px" src="~/Content/ShopImages/@Model.Image1" />
            <br />
            <br />
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
